.article-dialog {
    border-bottom: 1px solid rgba($black, 0.05);
    padding: 1rem 0;
}

.article-dialog-header {
    margin-bottom: 0.75rem;
}

.author-avatar {
    width: 15%;
    margin-right: 0.5rem;
    @include border-radius(50%);
}

.article-details {
    flex-direction: column;
}

.author-username {
    align-self: flex-start;
    color: tomato;
    font-size: 0.9rem;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.article-created-on {
    color: $lightGrey;
    font-size: 0.7rem;
}

.like-btn {
    border: 1px solid tomato;
    padding: 0.25rem 0.5rem;
    background: transparent;
    @include border-radius(0.25rem);
    &:hover {
        background: tomato;

        .heart, .like-count {
            color: $white;
        }
    }
}

.heart, .like-count {
    color: tomato;
    margin: 0.1rem;
    font-size: 0.8rem;
}

.article-dialog-heading {
    font-size: 1rem;
    color: rgba($black, 0.8);
}

.article-dialog-description {
    font-size: 0.95rem;
    color: rgba($black, 0.6);
}

.read-more {
    font-size: 0.75rem;
    color: rgba($black, 0.2);
    cursor: pointer;
    &:hover {
        color: rgba($black, 0.4);
    }
}

.article-card {
    margin: 0.5rem 0;
}

.article {
    padding: 2rem;
    background: rgba($black, 0.8);
    box-shadow: $shadowBtn;
    color: rgba($white, 0.9);
    .wrapper {
        padding: 0;
    }
}

.follow-btn {
    @include border-radius(0.25rem);
    padding: 0.25rem;
    border: 1px solid $white;
    background: transparent;
    color: $white;
    &:hover {
        background: $white;
        color: rgba($black, 0.8);
    }
    margin-right: 0.5rem;
}

.article-description {
    padding: 2rem;
    .wrapper {
        border-bottom: 1px solid rgba($black, 0.2);
        min-height: 80vh;
        padding: 0;
    }
}

.article-form {
    flex-direction: column;
    margin-top: 1rem;
    width: 80%;
    input[type="text"], textarea {
        border: 1px solid rgba($black, 0.2);
    }
    input[type="submit"] {
        align-self: flex-end;
        margin-right: 0;
    }
}